# JAX (CPU)
jax>=0.6.2 # CPU

# JAX libraries
jaxlib>=0.6.2
orthax>=0.2.4

# Further mathematical libraries
numpy>=2.3.1
scipy>=1.16.0
sympy>=1.14.0

# Visualisation
matplotlib>=3.10.3

# Testing
pytest>=8.3.5

# Version management
packaging>=25.0


#Jupyter notebook
notebook>=7.4.3